In [1]:
import pandas as pd
import numpy as np
import config
print(config.version)
print(config.connection_string)

3.2.0.Dev
postgresql://postgres:sa@localhost/icip

In [2]:
gene = pd.read_stata("Etude 06/Gene06.dta")
gene #1289

,id,genre,key,nom,prenom,has_inpp,rule_nb,v8,profession_id,mode_exercice_id,...,code_postal,code_insee,nom_commune,nom_ancienne_commune,v74,v75,libelle_acheminement,nom_afnor,v78,is_lieu_dit
0,724251,H,810004027214,DUBREUIL,STEPHANE,true,1.0,18097812,45,NaN,...,6160,6004,ANTIBES,NaN,7.115152,43.568062,JUAN LES PINS,,6,false
1,761356,H,810003281713,ZERBIB,JEAN LUC,true,1.0,18178629,45,NaN,...,6000,6088,NICE,NaN,7.268928,43.704369,,,6,false
2,761367,F,810100190338,GANEM,MARJORIE,true,1.0,18178829,45,NaN,...,6210,6079,MANDELIEU LA NAPOULE,NaN,6.935694,43.540806,,,6,false
3,761369,F,810004405766,ZIMMERMANN BOEHM,LAETITIA,true,7.0,18178835,45,NaN,...,6300,6088,NICE,NaN,7.290596,43.711414,,,6,false
4,761374,F,810005190680,LEDORE,VANINA,true,1.0,18178957,45,NaN,...,6110,6030,LE CANNET,NaN,7.008846,43.570038,,,6,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1284,746681,H,810003293866,GALOPIN,THIERRY,true,1.0,17857105,45,NaN,...,6320,6150,LA TURBIE,NaN,7.398556,43.745483,,,6,false
1285,746708,F,810002957925,SUAREZ,MICHELE,true,1.0,17857409,45,NaN,...,6800,6027,CAGNES SUR MER,NaN,7.137124,43.660156,,,6,false
1286,746713,H,810004398052,QUARANTA,ANTHONY,true,7.0,17857504,45,NaN,...,6600,6004,ANTIBES,NaN,7.113406,43.603149,,,6,false
1287,754051,H,810003299343,CHABANCE,ERIC,true,1.0,18017506,45,NaN,...,6800,6027,CAGNES SUR MER,NaN,7.150388,43.664223,,,6,false
1288,754042,H,810003290680,LOPEZ,FRANCIS,true,1.0,18017401,45,NaN,...,6200,6088,NICE,NaN,7.213099,43.670391,,,6,false

In [3]:
gene["id"].nunique() # 1189

1189

In [4]:
gene["b"] = gene["id"].astype(str) + "_" + gene["lat"].astype(str) + "_" + gene["lon"].astype(str)
gene["b"].nunique() #1289

1289

In [5]:
gene = gene.sort_values(by='id')
gene["unique"] = gene.groupby("id")["b"].transform("nunique")
gene["un"] = gene["unique"]
gene["un"].value_counts(normalize=True) # 85 12 1

un
1    0.851823
2    0.128782
3    0.016292
4    0.003103
Name: proportion, dtype: float64

In [6]:
gene['weight'] = 1 / gene['un']
gene.head(10)

,id,genre,key,nom,prenom,has_inpp,rule_nb,v8,profession_id,mode_exercice_id,...,v74,v75,libelle_acheminement,nom_afnor,v78,is_lieu_dit,b,unique,un,weight
607,648747,H,810101772977,BORISOV,DESIMIR,true,1.0,21650283,45,NaN,...,7.123379,43.577225,,,6,false,648747_43.577225_7.123379,1,1,1.0
1241,649593,F,810100219632,MARTIN,KARINE,true,1.0,21656891,45,NaN,...,7.025384,43.552349,,,6,false,649593_43.55235_7.025384,1,1,1.0
749,649649,H,810003275954,LEONARDI,DOMINIQUE,true,1.0,19240238,45,NaN,...,7.255889,43.709629,,,6,false,649649_43.709644_7.2558746,1,1,1.0
1126,649653,H,810003276184,BENSUSSAN,JEAN,true,1.0,19956951,45,NaN,...,7.227639,43.676025,,,6,false,649653_43.676025_7.227639,1,1,1.0
623,649654,F,810003276218,LARA,JEANNINE,true,1.0,15876473,45,NaN,...,7.282865,43.695572,,,6,false,649654_43.69557_7.282865,1,1,1.0
820,649671,H,810003276697,CROQUET,PATRICE,true,1.0,19956971,45,NaN,...,6.922279,43.651604,,,6,false,649671_43.651604_6.922279,1,1,1.0
1200,649676,H,810003277158,DUBOIS,MICHEL,true,1.0,21634927,45,NaN,...,7.449651,43.877045,,,6,false,649676_43.877045_7.449651,1,1,1.0
810,649682,H,810003277562,GIDEL,PIERRE JEAN,true,4.0,19956668,45,NaN,...,7.242220,43.689323,,,6,false,649682_43.689323_7.24222,1,1,1.0
710,649683,H,810003277570,MASCHINO,JEAN MARC,true,1.0,18759895,45,NaN,...,7.037066,43.546352,,,6,false,649683_43.546352_7.037066,1,1,1.0
1243,649684,H,810003277596,SARDOU,YVES,true,1.0,15877167,45,NaN,...,7.492397,43.791637,,,6,false,649684_43.791637_7.492397,1,1,1.0

In [7]:
gene = gene.sort_values(by='iris')
gene["NB"] = gene.groupby("iris")["weight"].transform("sum")
gene

,id,genre,key,nom,prenom,has_inpp,rule_nb,v8,profession_id,mode_exercice_id,...,v75,libelle_acheminement,nom_afnor,v78,is_lieu_dit,b,unique,un,weight,NB
367,649947,H,810003291993,DAEMERS,YVES,true,8.0,18454187,45,NaN,...,43.596935,,,6,false,649947_43.596935_7.07216,1,1,1.0,2.0
152,724212,H,810003288676,BILLAUD,JEAN CHRISTOPHE,true,1.0,19829309,45,NaN,...,43.597008,,,6,false,724212_43.597008_7.070016,1,1,1.0,2.0
436,649926,H,810003283735,MANDRILE,DIDIER,true,1.0,19298600,45,NaN,...,43.604534,,,6,false,649926_43.604534_7.092388,1,1,1.0,1.0
201,650468,F,810003300406,NICASTRO,MAGALI,true,1.0,19957409,45,NaN,...,43.588104,,,6,false,650468_43.588104_7.117538,1,1,1.0,2.0
1120,649745,H,810003269239,NICASTRO,SERGE,true,1.0,19956824,45,NaN,...,43.588104,,,6,false,649745_43.588104_7.117538,1,1,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,764955,H,810003291142,AGOSTINI,PIERRE,true,1.0,21634199,45,NaN,...,43.640636,,,6,false,764955_43.640636_7.141885,2,2,0.5,6.0
1167,757684,F,810100282358,LEBRUN CHAUVOT,EMILIE,true,1.0,20025905,45,NaN,...,43.640636,,,6,false,757684_43.640636_7.141885,2,2,0.5,6.0
1054,650664,F,810003439279,MATHIEU,CHRISTELLE,true,1.0,19393582,45,NaN,...,43.635681,,,6,false,650664_43.63568_7.134178,1,1,1.0,6.0
38,650476,H,810003944237,CANOVA,JEAN PAUL,true,1.0,18456981,45,7.0,...,44.059284,,,6,false,650476_44.059284_7.587375,2,2,0.5,1.5
491,785968,H,810101391927,DUHAMEL,BERTRAND,true,8.0,19861842,45,NaN,...,44.082420,,,6,false,785968_44.08242_7.593494,1,1,1.0,1.5

In [8]:
gene = gene.drop_duplicates(subset=['iris', 'NB'])
gene.to_csv("nbgpiris2022.csv", index=False)
gene

,id,genre,key,nom,prenom,has_inpp,rule_nb,v8,profession_id,mode_exercice_id,...,v75,libelle_acheminement,nom_afnor,v78,is_lieu_dit,b,unique,un,weight,NB
367,649947,H,810003291993,DAEMERS,YVES,true,8.0,18454187,45,NaN,...,43.596935,,,6,false,649947_43.596935_7.07216,1,1,1.0,2.000000
436,649926,H,810003283735,MANDRILE,DIDIER,true,1.0,19298600,45,NaN,...,43.604534,,,6,false,649926_43.604534_7.092388,1,1,1.0,1.000000
201,650468,F,810003300406,NICASTRO,MAGALI,true,1.0,19957409,45,NaN,...,43.588104,,,6,false,650468_43.588104_7.117538,1,1,1.0,2.000000
381,650656,F,810100618221,BUFALA DELAVAL,MAUD,true,1.0,18702275,45,NaN,...,43.603149,,,6,false,650656_43.60315_7.113406,1,1,1.0,8.833333
965,764940,H,810003285425,CASANOVA,XAVIER,true,7.0,18259437,45,NaN,...,43.600204,,,6,false,764940_43.600204_7.122071,1,1,1.0,4.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1158,746664,H,810003271599,HADAD,GEORGES,true,8.0,20018575,45,NaN,...,43.668575,,,6,false,746664_43.668575_7.120384,1,1,1.0,1.500000
524,650892,F,810003279253,ROUSSEAU,FRANCOISE,true,1.0,19957394,45,NaN,...,43.658047,,,6,false,650892_43.658047_7.123625,1,1,1.0,1.000000
1165,757676,F,810001370906,CHEMOUNI,KARINE,true,1.0,20025916,45,NaN,...,43.642155,,,6,false,757676_43.642155_7.142204,2,2,0.5,2.500000
106,650347,H,810003421947,BRUNET,DIDIER CLEMENT,true,1.0,19412478,45,NaN,...,43.635681,,,6,false,650347_43.63568_7.134178,1,1,1.0,6.000000
38,650476,H,810003944237,CANOVA,JEAN PAUL,true,1.0,18456981,45,7.0,...,44.059284,,,6,false,650476_44.059284_7.587375,2,2,0.5,1.500000

In [9]:
min=30
dept=6
sql = f"""
(select iris.id "IRIS1", iris.id "IRIS2", 0 "KM", 0 "TIME" from iris.iris
where id / 10000000 = {dept}

union

select iris_id_from as "IRIS1", iris_id_to "IRIS2", route_km "KM", route_min "TIME" from iris.iris_matrix
where (iris_id_from/10000000={dept} or iris_id_to/10000000={dept})
and route_min <= {min}) order by "IRIS1", "IRIS2"
"""

# od06sql = pd.read_sql(sql, config.connection_string)
# od06sql.to_csv("od_06_sql.csv")
# od = od06sql
# od06sql

# /!\ à l'absence de zéro le de la jointure
# od = pd.read_stata("Etude 06/ODFinale.dta")
# od = od[od["TIME"] <= 30]
# od #80712
# od

od = pd.read_csv("od_06_sql.csv")
od

            IRIS1     IRIS2  KM  TIME
0        40080000  60530000  17    22
1        40080000  60990000  21    24
2        40390000  61540000  24    30
3        40420000  60530000  11    19
4        40420000  60710000  22    30
...           ...       ...  ..   ...
117764  831380000  60850103  34    29
117765  831380000  60950101  18    19
117766  831380000  60950102  19    22
117767  831380000  60950103  18    20
117768  831380000  61180000  20    30

[117769 rows x 4 columns]

In [10]:
pd.options.mode.copy_on_write = True
od["iris"] = od["IRIS2"].astype("int64")
od["iris"].nunique() # 500

566

In [11]:
from sqlalchemy import text
sql = f"""
select pi.iris, c.code "COM", i.type "TYP_IRIS", pi.p20_pop0002, pi.p20_pop0305, pi.p20_pop0610, pi.p20_pop1117, pi.p20_pop1824, pi.p20_pop2539, pi.p20_pop4559, pi.p20_pop6074, pi.p20_pop75p
from iris.pop_iris pi
join iris.iris i on  pi.iris=i.code
join iris.commune c on i.commune_id=c.id
where com like '{dept:02}%'"""
print(sql)
pop_iris = pd.read_sql(text(sql), config.connection_string)
# pop_iris = pd.read_stata("Etude 06/popIRIS.dta")
pop_iris

select pi.iris, c.code "COM", i.type "TYP_IRIS", pi.p20_pop0002, pi.p20_pop0305, pi.p20_pop0610, pi.p20_pop1117, pi.p20_pop1824, pi.p20_pop2539, pi.p20_pop4559, pi.p20_pop6074, pi.p20_pop75p
from iris.pop_iris pi
join iris.iris i on  pi.iris=i.code
join iris.commune c on i.commune_id=c.id
where com like '06%'

,iris,COM,TYP_IRIS,p20_pop0002,p20_pop0305,p20_pop0610,p20_pop1117,p20_pop1824,p20_pop2539,p20_pop4559,p20_pop6074,p20_pop75p
0,060120105,06012,A,87.418550,60.438694,193.693660,273.95730,223.035700,676.78790,811.84125,457.24982,315.660160
1,060500000,06050,C,14.457494,14.409695,41.336414,48.39683,17.661858,72.61527,136.39720,95.22634,43.630077
2,060720000,06072,C,0.000000,7.000000,5.000000,5.00000,4.000000,22.00000,38.00000,35.00000,26.000000
3,061050101,06105,A,90.654580,136.365310,244.816740,402.70312,211.586750,430.94614,945.29596,679.35130,356.906370
4,060150000,06015,C,36.382305,39.335630,53.229595,83.62182,64.078064,198.46510,316.26556,265.24164,108.909730
...,...,...,...,...,...,...,...,...,...,...,...,...
495,060883403,06088,A,71.638420,55.635365,104.755210,138.66922,184.708200,294.65110,278.43094,337.78094,311.285340
496,060883501,06088,A,63.991177,86.144790,123.785240,215.96701,182.714100,349.32108,617.75810,466.61243,237.725800
497,060883601,06088,A,100.090430,73.343470,134.026950,215.99605,173.736830,455.11038,587.17010,585.84150,294.802900
498,060883602,06088,A,64.699010,79.082280,140.378510,183.99406,110.133000,398.01132,453.39966,453.67694,179.870680
499,060883801,06088,A,34.372803,55.135230,125.373990,189.65826,162.078320,242.52472,617.48880,715.10420,376.110380

In [12]:
pd.set_option('display.max_columns', None)
pop_iris["iris"] = pd.to_numeric(pop_iris["iris"], errors="coerce")
od = od.merge(pop_iris, on="iris", how="left", suffixes=('', ''))
od.head(10)

,IRIS1,IRIS2,KM,TIME,iris,COM,TYP_IRIS,p20_pop0002,p20_pop0305,p20_pop0610,p20_pop1117,p20_pop1824,p20_pop2539,p20_pop4559,p20_pop6074,p20_pop75p
0,40080000,60530000,17,22,60530000,06053,C,3.000000,3.000000,3.000000,15.000000,3.000000,19.000000,23.000000,40.000000,26.000000
1,40080000,60990000,21,24,60990000,06099,C,45.961033,60.562077,118.186980,174.260680,100.920586,288.927830,365.603700,358.148500,209.747850
2,40390000,61540000,24,30,61540000,06154,C,14.443875,11.072821,23.354239,41.093530,36.612030,60.120470,105.712440,118.533870,45.796837
3,40420000,60530000,11,19,60530000,06053,C,3.000000,3.000000,3.000000,15.000000,3.000000,19.000000,23.000000,40.000000,26.000000
4,40420000,60710000,22,30,60710000,06071,C,13.000000,11.000000,30.000000,25.000000,21.000000,92.000000,118.000000,153.000000,90.000000
5,40420000,60990000,17,24,60990000,06099,C,45.961033,60.562077,118.186980,174.260680,100.920586,288.927830,365.603700,358.148500,209.747850
6,40420000,61240000,15,30,61240000,06124,C,0.941176,0.000000,1.882353,0.941176,0.941176,2.823529,11.294118,16.941177,10.352942
7,40430000,60020000,15,20,60020000,06002,C,0.962963,0.000000,0.962963,0.000000,4.814815,2.888889,15.407408,15.407408,9.629630
8,40430000,60240000,8,11,60240000,06024,C,4.785714,5.982143,4.785714,17.946428,3.589286,21.535715,34.696430,52.642857,41.875000
9,40430000,60450000,18,23,60450000,06045,C,0.000000,0.000000,2.730769,6.371795,1.820513,2.730769,20.025640,21.846153,10.923077

In [13]:
od["WexpGP"] = np.exp(-0.12 * od["TIME"])
od.to_csv("popiris2022.csv", index=False)
od.head(10)

,IRIS1,IRIS2,KM,TIME,iris,COM,TYP_IRIS,p20_pop0002,p20_pop0305,p20_pop0610,p20_pop1117,p20_pop1824,p20_pop2539,p20_pop4559,p20_pop6074,p20_pop75p,WexpGP
0,40080000,60530000,17,22,60530000,06053,C,3.000000,3.000000,3.000000,15.000000,3.000000,19.000000,23.000000,40.000000,26.000000,0.071361
1,40080000,60990000,21,24,60990000,06099,C,45.961033,60.562077,118.186980,174.260680,100.920586,288.927830,365.603700,358.148500,209.747850,0.056135
2,40390000,61540000,24,30,61540000,06154,C,14.443875,11.072821,23.354239,41.093530,36.612030,60.120470,105.712440,118.533870,45.796837,0.027324
3,40420000,60530000,11,19,60530000,06053,C,3.000000,3.000000,3.000000,15.000000,3.000000,19.000000,23.000000,40.000000,26.000000,0.102284
4,40420000,60710000,22,30,60710000,06071,C,13.000000,11.000000,30.000000,25.000000,21.000000,92.000000,118.000000,153.000000,90.000000,0.027324
5,40420000,60990000,17,24,60990000,06099,C,45.961033,60.562077,118.186980,174.260680,100.920586,288.927830,365.603700,358.148500,209.747850,0.056135
6,40420000,61240000,15,30,61240000,06124,C,0.941176,0.000000,1.882353,0.941176,0.941176,2.823529,11.294118,16.941177,10.352942,0.027324
7,40430000,60020000,15,20,60020000,06002,C,0.962963,0.000000,0.962963,0.000000,4.814815,2.888889,15.407408,15.407408,9.629630,0.090718
8,40430000,60240000,8,11,60240000,06024,C,4.785714,5.982143,4.785714,17.946428,3.589286,21.535715,34.696430,52.642857,41.875000,0.267135
9,40430000,60450000,18,23,60450000,06045,C,0.000000,0.000000,2.730769,6.371795,1.820513,2.730769,20.025640,21.846153,10.923077,0.063292

In [14]:
od = od.sort_values(by='IRIS2')
# P19_POP0002 P19_POP0305 P19_POP0610 P19_POP1117 P19_POP1824 P19_POP2539 P19_POP4559 P19_POP6074 P19_POP75P
pop_cols = ["p20_pop0002", "p20_pop0305", "p20_pop0610", "p20_pop1117", "p20_pop1824", "p20_pop2539", "p20_pop4559", "p20_pop6074", "p20_pop75p"]
weights = [0.759201627]*4 + [0.784999993, 0.915, 1.05, 1.4, 1.3]
for col in pop_cols:
    od[col] = pd.to_numeric(od[col], errors="coerce")
od["POPGP"] = sum(w * od[c] for w, c in zip(weights, pop_cols))
od.to_csv("popiris2022.csv", index=False)
od.head(10)

,IRIS1,IRIS2,KM,TIME,iris,COM,TYP_IRIS,p20_pop0002,p20_pop0305,p20_pop0610,p20_pop1117,p20_pop1824,p20_pop2539,p20_pop4559,p20_pop6074,p20_pop75p,WexpGP,POPGP
97682,60990000,40080000,21,24,40080000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.056135,NaN
36626,60530000,40080000,17,22,40080000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.071361,NaN
108163,61540000,40390000,24,30,40390000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.027324,NaN
97683,60990000,40420000,17,24,40420000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.056135,NaN
36627,60530000,40420000,11,19,40420000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.102284,NaN
104581,61240000,40420000,15,30,40420000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.027324,NaN
41646,60710000,40420000,22,30,40420000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.027324,NaN
49069,60870000,40430000,18,22,40430000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.071361,NaN
97684,60990000,40430000,18,27,40430000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.039164,NaN
105210,61310000,40430000,22,28,40430000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.034735,NaN

In [15]:
# KM iris COM TYP_IRIS MODIF_IRIS LAB_IRIS P19_POP P19_POP0002 P19_POP0305 P19_POP0610 P19_POP1117 P19_POP1824 P19_POP2539 P19_POP4054 P19_POP5564 P19_POP6579 P19_POP80P P19_POP0014 P19_POP1529 P19_POP3044 P19_POP4559 P19_POP6074 P19_POP75P P19_POP0019 P19_POP2064 P19_POP65P P19_POPH P19_H0014 P19_H1529 P19_H3044 P19_H4559 P19_H6074 P19_H75P P19_H0019 P19_H2064 P19_H65P P19_POPF P19_F0014 P19_F1529 P19_F3044 P19_F4559 P19_F6074 P19_F75P P19_F0019 P19_F2064 P19_F65P _merge WexpGP POPGP
od = od.drop(["KM","iris","COM"], axis=1)
for col in od.columns:
    if col.startswith("P20"):
        od = od.drop(col, axis=1)
od2 = od.drop(["WexpGP","POPGP", "TYP_IRIS"], axis=1)
od2.to_csv("ODgeneralistes06.csv", index=False)
od2

,IRIS1,IRIS2,TIME,p20_pop0002,p20_pop0305,p20_pop0610,p20_pop1117,p20_pop1824,p20_pop2539,p20_pop4559,p20_pop6074,p20_pop75p
97682,60990000,40080000,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36626,60530000,40080000,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108163,61540000,40390000,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97683,60990000,40420000,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36627,60530000,40420000,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
39124,60690104,831380000,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30750,60300112,831380000,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38924,60690103,831380000,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31095,60300113,831380000,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97661,60950103,831380000,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
od["iris"] = od["IRIS1"]
od = od.sort_values(by='IRIS1')
nbgp = gene
od = od.merge(nbgp, on="iris", how="left", suffixes=('', ''))
od["NB"].unique()

array([        nan,  2.        ,  1.        ,  8.83333333,  4.5       ,
        2.66666667, 11.        ,  2.5       ,  3.        ,  0.5       ,
        4.        , 22.        ,  9.        ,  2.33333333,  5.        ,
        6.5       ,  8.        ,  9.33333333, 18.25      ,  6.        ,
        0.25      ,  5.5       ,  7.5       ,  1.5       , 18.        ,
        6.58333333,  3.5       ,  1.33333333,  9.5       ,  7.        ,
       10.33333333, 10.        , 10.5       , 14.5       , 23.33333333,
        8.5       , 13.5       ,  4.58333333,  5.66666667,  5.33333333,
       12.        , 13.33333333,  0.33333333,  2.33333333, 15.5       ,
        4.33333333])

In [17]:
od["NB"] = od["NB"].fillna(0)
od = od.sort_values(by=['IRIS1', "IRIS2"])
od.to_csv("IRIS2022.csv", index=False)

In [18]:
od = od.sort_values(by='IRIS1')
od["wpop"] = od["WexpGP"] * od["POPGP"]
od["swpop"] = od.groupby("IRIS1")["wpop"].transform("sum")
od["R"] = od["NB"] / (od["swpop"] / 100000)
od.head(10)

,IRIS1,IRIS2,TIME,TYP_IRIS,p20_pop0002,p20_pop0305,p20_pop0610,p20_pop1117,p20_pop1824,p20_pop2539,p20_pop4559,p20_pop6074,p20_pop75p,WexpGP,POPGP,iris,id,genre,key,nom,prenom,has_inpp,rule_nb,v8,profession_id,mode_exercice_id,nature_id,convention_id,option_contrat,vitale,code,ps_id,cabinet_id,famille_acte_id,montant,borne_inf,borne_sup,montant_2,borne_inf_2,borne_sup_2,montant_imagerie,borne_inf_imagerie,borne_sup_imagerie,montant_anesthesie,borne_inf_anesthesie,borne_sup_anesthesie,montant_cec,borne_inf_cec,borne_sup_cec,tarif_id,date_source_id,v36,v37,v38,telephone,adresse_raw_id,v41,adresse2,adresse3,adresse4,cp,commune,adresse_norm_id,dept_id,v49,numero,rue1,rue2,v53,v54,osm_id,osm_score,ban_id,ban_score,source_id,lon,lat,score,v63,v65,adresse_id,v67,rep,nom_voie,code_postal,code_insee,nom_commune,nom_ancienne_commune,v74,v75,libelle_acheminement,nom_afnor,v78,is_lieu_dit,b,unique,un,weight,NB,wpop,swpop,R
1,40080000,60530000,22,C,3.000000,3.000000,3.000000,15.000000,3.000000,19.000000,23.000000,40.000000,26.000000,0.071361,151.910839,40080000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,10.840550,112.133197,0.0
0,40080000,60990000,24,C,45.961033,60.562077,118.186980,174.260680,100.920586,288.927830,365.603700,358.148500,209.747850,0.056135,1804.454871,40080000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,101.292646,112.133197,0.0
2,40390000,61540000,30,C,14.443875,11.072821,23.354239,41.093530,36.612030,60.120470,105.712440,118.533870,45.796837,0.027324,488.533210,40390000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,13.348546,13.348546,0.0
3,40420000,60530000,19,C,3.000000,3.000000,3.000000,15.000000,3.000000,19.000000,23.000000,40.000000,26.000000,0.102284,151.910839,40420000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,15.538080,135.163789,0.0
5,40420000,60710000,30,C,13.000000,11.000000,30.000000,25.000000,21.000000,92.000000,118.000000,153.000000,90.000000,0.027324,615.741928,40420000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,16.824362,135.163789,0.0
4,40420000,60990000,24,C,45.961033,60.562077,118.186980,174.260680,100.920586,288.927830,365.603700,358.148500,209.747850,0.056135,1804.454871,40420000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,101.292646,135.163789,0.0
6,40420000,61240000,30,C,0.941176,0.000000,1.882353,0.941176,0.941176,2.823529,11.294118,16.941177,10.352942,0.027324,55.215820,40420000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.508702,135.163789,0.0
12,40430000,61310000,28,C,0.979592,0.000000,0.000000,2.938776,2.938776,4.897959,13.714286,16.653060,5.877551,0.034735,55.118503,40430000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.914555,157.125891,0.0
14,40430000,61160000,26,C,5.785167,2.835322,5.693009,12.499444,5.853335,18.495186,56.672413,61.155640,34.253048,0.044157,231.527285,40430000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,10.223589,157.125891,0.0
7,40430000,60870000,22,C,0.000000,0.000000,1.000000,1.000000,4.000000,3.000000,10.000000,11.000000,9.000000,0.071361,45.003403,40430000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.211500,157.125891,0.0

In [19]:
rgp = od[od["IRIS1"] == od["IRIS2"]]
rgp = rgp[["IRIS1", "TYP_IRIS", "POPGP", "NB", "R"]].copy()
rgp.head(10)

         IRIS1 TYP_IRIS        POPGP        NB         R
76    60010000        C    92.810629  0.000000  0.000000
84    60020000        C    58.151798  0.000000  0.000000
107   60030000        C   625.817363  0.000000  0.000000
274   60040101        C  1559.693523  0.000000  0.000000
492   60040102        A  2368.339365  2.000000  1.445919
848   60040103        A   858.108351  0.000000  0.000000
1396  60040104        A  2059.816516  1.000000  0.615765
1549  60040105        A  3898.006226  2.000000  1.486136
1878  60040106        A  2729.254386  8.833333  6.803966
2249  60040107        A  3125.706245  4.500000  3.251647

In [20]:
rgp["IRIS2"] = rgp["IRIS1"]
rgp.to_csv("RGP2022.csv", index=False)
od = od.merge(rgp, on="IRIS2", suffixes=("", "_dest"))
od.head(10)

,IRIS1,IRIS2,TIME,TYP_IRIS,p20_pop0002,p20_pop0305,p20_pop0610,p20_pop1117,p20_pop1824,p20_pop2539,p20_pop4559,p20_pop6074,p20_pop75p,WexpGP,POPGP,iris,id,genre,key,nom,prenom,has_inpp,rule_nb,v8,profession_id,mode_exercice_id,nature_id,convention_id,option_contrat,vitale,code,ps_id,cabinet_id,famille_acte_id,montant,borne_inf,borne_sup,montant_2,borne_inf_2,borne_sup_2,montant_imagerie,borne_inf_imagerie,borne_sup_imagerie,montant_anesthesie,borne_inf_anesthesie,borne_sup_anesthesie,montant_cec,borne_inf_cec,borne_sup_cec,tarif_id,date_source_id,v36,v37,v38,telephone,adresse_raw_id,v41,adresse2,adresse3,adresse4,cp,commune,adresse_norm_id,dept_id,v49,numero,rue1,rue2,v53,v54,osm_id,osm_score,ban_id,ban_score,source_id,lon,lat,score,v63,v65,adresse_id,v67,rep,nom_voie,code_postal,code_insee,nom_commune,nom_ancienne_commune,v74,v75,libelle_acheminement,nom_afnor,v78,is_lieu_dit,b,unique,un,weight,NB,wpop,swpop,R,IRIS1_dest,TYP_IRIS_dest,POPGP_dest,NB_dest,R_dest
0,40080000,60530000,22,C,3.0,3.0,3.0,15.0,3.0,19.0,23.0,40.0,26.0,0.071361,151.910839,40080000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,10.840550,112.133197,0.000000,60530000,C,151.910839,0.0,0.0
1,40420000,60530000,19,C,3.0,3.0,3.0,15.0,3.0,19.0,23.0,40.0,26.0,0.102284,151.910839,40420000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,15.538080,135.163789,0.000000,60530000,C,151.910839,0.0,0.0
2,40760000,60530000,19,C,3.0,3.0,3.0,15.0,3.0,19.0,23.0,40.0,26.0,0.102284,151.910839,40760000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,15.538080,723.053377,0.000000,60530000,C,151.910839,0.0,0.0
3,40900000,60530000,28,C,3.0,3.0,3.0,15.0,3.0,19.0,23.0,40.0,26.0,0.034735,151.910839,40900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5.276662,54.581086,0.000000,60530000,C,151.910839,0.0,0.0
4,41740000,60530000,20,C,3.0,3.0,3.0,15.0,3.0,19.0,23.0,40.0,26.0,0.090718,151.910839,41740000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,13.781040,142.549231,0.000000,60530000,C,151.910839,0.0,0.0
5,42020000,60530000,9,C,3.0,3.0,3.0,15.0,3.0,19.0,23.0,40.0,26.0,0.339596,151.910839,42020000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,51.588241,315.111601,0.000000,60530000,C,151.910839,0.0,0.0
6,60530000,60530000,0,C,3.0,3.0,3.0,15.0,3.0,19.0,23.0,40.0,26.0,1.000000,151.910839,60530000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,151.910839,359.033874,0.000000,60530000,C,151.910839,0.0,0.0
7,60710000,60530000,18,C,3.0,3.0,3.0,15.0,3.0,19.0,23.0,40.0,26.0,0.115325,151.910839,60710000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,17.519136,1070.485700,0.000000,60530000,C,151.910839,0.0,0.0
8,60940000,60530000,25,C,3.0,3.0,3.0,15.0,3.0,19.0,23.0,40.0,26.0,0.049787,151.910839,60940000,724227.0,H,810003281499,GIRAUD,ROLAND,true,1.0,19646676.0,45.0,NaN,3.0,1.0,false,true,GS_,724227.0,86261.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19646676.0,2205.0,86261.0,GIRAUD ROLAND,GIRAUD_ROLAND_06470_17_AVENUE_DE_VALBERG,493025131.0,64843.0,64843.0,IMMEUBLE LES GEMEAUX,17 AVENUE DE VALBERG,,6470.0,PEONE,63080.0,6.0,63080.0,17.0,AVENUE DE VALBERG,IMMEUBLE LES GEMEAUX,6470.0,PEONE,NaN,NaN,899184.0,1.0,2.0,6.932793,44.094193,1.0,6.0,899184.0,06094_0026_00017,17.0,,AVENUE DE VALBERG,6470.0,6094.0,PEONE,NaN,6.932793,44.094193,,,6.0,false,724227_44.094193_6.932793,1.0,1.0,1.0,1.0,7.563195,1227.881541,81.441081,60530000,C,151.910839,0.0,0.0
9,60990000,60530000,26,C,3.0,3.0,3.0,15.0,3.0,19.0,23.0,40.0,26.0,0.044157,151.910839,60990000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,6.707953,2139.644821,0.000000,60530000,C,151.910839,0.0,0.0

In [21]:
od = od.sort_values(by=['IRIS1', "IRIS2"])
od["Ap"] = od["WexpGP"] * od["R_dest"]
od["APL"] = od.groupby("IRIS1")["Ap"].transform("sum")
od

C:\Users\conta\AppData\Local\Temp\ipykernel_27756\564740221.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  od["Ap"] = od["WexpGP"] * od["R_dest"]
C:\Users\conta\AppData\Local\Temp\ipykernel_27756\564740221.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  od["APL"] = od.groupby("IRIS1")["Ap"].transform("sum")

,IRIS1,IRIS2,TIME,TYP_IRIS,p20_pop0002,p20_pop0305,p20_pop0610,p20_pop1117,p20_pop1824,p20_pop2539,p20_pop4559,p20_pop6074,p20_pop75p,WexpGP,POPGP,iris,id,genre,key,nom,prenom,has_inpp,rule_nb,v8,profession_id,mode_exercice_id,nature_id,convention_id,option_contrat,vitale,code,ps_id,cabinet_id,famille_acte_id,montant,borne_inf,borne_sup,montant_2,borne_inf_2,borne_sup_2,montant_imagerie,borne_inf_imagerie,borne_sup_imagerie,montant_anesthesie,borne_inf_anesthesie,borne_sup_anesthesie,montant_cec,borne_inf_cec,borne_sup_cec,tarif_id,date_source_id,v36,v37,v38,telephone,adresse_raw_id,v41,adresse2,adresse3,adresse4,cp,commune,adresse_norm_id,dept_id,v49,numero,rue1,rue2,v53,v54,osm_id,osm_score,ban_id,ban_score,source_id,lon,lat,score,v63,v65,adresse_id,v67,rep,nom_voie,code_postal,code_insee,nom_commune,nom_ancienne_commune,v74,v75,libelle_acheminement,nom_afnor,v78,is_lieu_dit,b,unique,un,weight,NB,wpop,swpop,R,IRIS1_dest,TYP_IRIS_dest,POPGP_dest,NB_dest,R_dest,Ap,APL
0,40080000,60530000,22,C,3.000000,3.000000,3.000000,15.00000,3.000000,19.00000,23.00000,40.00000,26.000000,0.071361,151.910839,40080000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,10.840550,112.133197,0.0,60530000,C,151.910839,0.0,0.000000,0.000000,0.000000
12,40080000,60990000,24,C,45.961033,60.562077,118.186980,174.26068,100.920586,288.92783,365.60370,358.14850,209.747850,0.056135,1804.454871,40080000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,101.292646,112.133197,0.0,60990000,C,1804.454871,0.0,0.000000,0.000000,0.000000
33,40390000,61540000,30,C,14.443875,11.072821,23.354239,41.09353,36.612030,60.12047,105.71244,118.53387,45.796837,0.027324,488.533210,40390000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,13.348546,13.348546,0.0,61540000,C,488.533210,1.0,110.010389,3.005893,3.005893
1,40420000,60530000,19,C,3.000000,3.000000,3.000000,15.00000,3.000000,19.00000,23.00000,40.00000,26.000000,0.102284,151.910839,40420000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,15.538080,135.163789,0.0,60530000,C,151.910839,0.0,0.000000,0.000000,0.000000
51,40420000,60710000,30,C,13.000000,11.000000,30.000000,25.00000,21.000000,92.00000,118.00000,153.00000,90.000000,0.027324,615.741928,40420000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,16.824362,135.163789,0.0,60710000,C,615.741928,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87713,831380000,60850103,29,A,71.068900,71.788710,146.845930,194.39722,148.091400,351.81476,559.87990,510.06640,392.299470,0.030807,2617.648504,831380000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,80.642973,5969.479466,0.0,60850103,A,2617.648504,0.0,0.000000,0.000000,7.597193
49230,831380000,60950101,19,A,78.000000,88.000000,211.000000,256.00000,155.000000,476.00000,682.00000,642.00000,411.000000,0.102284,3186.989629,831380000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,325.978706,5969.479466,0.0,60950101,A,3186.989629,0.0,0.000000,0.000000,7.597193
55000,831380000,60950102,22,A,68.000000,78.000000,156.000000,226.00000,145.000000,400.00000,530.00000,485.00000,293.000000,0.071361,2497.083458,831380000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,178.195046,5969.479466,0.0,60950102,A,2497.083458,6.0,22.161238,1.581454,7.597193
54896,831380000,60950103,20,A,47.000000,69.000000,126.000000,225.00000,103.000000,259.00000,567.00000,576.00000,327.000000,0.090718,2499.237159,831380000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,226.725680,5969.479466,0.0,60950103,A,2499.237159,0.0,0.000000,0.000000,7.597193
116310,831380000,61180000,30,C,90.801390,102.464730,234.276630,364.56845,205.448900,519.79880,945.92676,872.50850,336.914830,0.027324,3890.989676,831380000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,106.316322,5969.479466,0.0,61180000,C,3890.989676,3.0,23.348941,0.637980,7.597193

In [22]:
apl_final = od[od["IRIS1"] == od["IRIS2"]]
apl_final.head(10)

,IRIS1,IRIS2,TIME,TYP_IRIS,p20_pop0002,p20_pop0305,p20_pop0610,p20_pop1117,p20_pop1824,p20_pop2539,p20_pop4559,p20_pop6074,p20_pop75p,WexpGP,POPGP,iris,id,genre,key,nom,prenom,has_inpp,rule_nb,v8,profession_id,mode_exercice_id,nature_id,convention_id,option_contrat,vitale,code,ps_id,cabinet_id,famille_acte_id,montant,borne_inf,borne_sup,montant_2,borne_inf_2,borne_sup_2,montant_imagerie,borne_inf_imagerie,borne_sup_imagerie,montant_anesthesie,borne_inf_anesthesie,borne_sup_anesthesie,montant_cec,borne_inf_cec,borne_sup_cec,tarif_id,date_source_id,v36,v37,v38,telephone,adresse_raw_id,v41,adresse2,adresse3,adresse4,cp,commune,adresse_norm_id,dept_id,v49,numero,rue1,rue2,v53,v54,osm_id,osm_score,ban_id,ban_score,source_id,lon,lat,score,v63,v65,adresse_id,v67,rep,nom_voie,code_postal,code_insee,nom_commune,nom_ancienne_commune,v74,v75,libelle_acheminement,nom_afnor,v78,is_lieu_dit,b,unique,un,weight,NB,wpop,swpop,R,IRIS1_dest,TYP_IRIS_dest,POPGP_dest,NB_dest,R_dest,Ap,APL
385,60010000,60010000,0,C,4.000000,4.000000,9.000000,1.000000,2.000000,15.000000,19.000000,23.000000,9.00000,1.0,92.810629,60010000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,92.810629,279.581724,0.000000,60010000,C,92.810629,0.000000,0.000000,0.000000,0.000000
157,60020000,60020000,0,C,0.962963,0.000000,0.962963,0.000000,4.814815,2.888889,15.407408,15.407408,9.62963,1.0,58.151798,60020000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,58.151798,237.808633,0.000000,60020000,C,58.151798,0.000000,0.000000,0.000000,0.000000
242,60030000,60030000,0,C,9.752499,21.342184,46.559483,61.267956,36.527490,93.859300,152.356190,144.725160,33.23300,1.0,625.817363,60030000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,625.817363,1200.693332,0.000000,60030000,C,625.817363,0.000000,0.000000,0.000000,18.184595
74748,60040101,60040101,0,C,43.067524,29.473127,53.949734,52.204407,157.987120,374.808720,398.335300,311.410300,79.10138,1.0,1559.693523,60040101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1559.693523,173102.022577,0.000000,60040101,C,1559.693523,0.000000,0.000000,0.000000,152.785439
74398,60040102,60040102,0,A,124.795586,79.509380,182.162320,236.056400,135.785890,461.605650,523.300100,404.160200,193.43684,1.0,2368.339365,60040102,649947.0,H,810003291993,DAEMERS,YVES,true,8.0,18454187.0,45.0,NaN,3.0,1.0,false,true,GS_+MEG,649947.0,2216.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18454187.0,2205.0,2216.0,DAEMERS YVES,DAEMERS_YVES_06600_AVENUE_GUILLAUME_APPOLLINAIRE,493951707.0,1806.0,1806.0,RES LES PINS BAT A1,AVENUE GUILLAUME APPOLLINAIRE,,6600.0,ANTIBES,92989.0,6.0,92989.0,NaN,AVENUE GUILLAUME APPOLLINAIRE,RES LES PINSA1,6600.0,ANTIBES,NaN,NaN,826952.0,0.949490,2.0,7.072160,43.596935,0.949490,6.0,826952.0,06004_1509_00022,22.0,,BOULEVARD GUILLAUME APOLLINAIRE,6600.0,6004.0,ANTIBES,NaN,7.072160,43.596935,,,6.0,false,649947_43.596935_7.07216,1.0,1.0,1.0,2.000000,2368.339365,138320.367797,1.445919,60040102,A,2368.339365,2.000000,1.445919,1.445919,122.333031
74130,60040103,60040103,0,A,23.252556,10.911196,29.277357,27.889765,53.339554,90.759460,194.654140,153.112560,188.54532,1.0,858.108351,60040103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,858.108351,77926.962793,0.000000,60040103,A,858.108351,0.000000,0.000000,0.000000,72.226826
83097,60040104,60040104,0,A,50.537685,64.513460,99.013300,179.561550,72.332810,290.570470,454.758100,429.753140,276.28568,1.0,2059.816516,60040104,649926.0,H,810003283735,MANDRILE,DIDIER,true,1.0,19298600.0,45.0,NaN,3.0,1.0,false,true,GS_+MEG,649926.0,2109.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19298600.0,2205.0,2109.0,MANDRILE DIDIER,MANDRILE_DIDIER_06600_600_CHEMIN_DU_VALBOSQUET,493741882.0,1701.0,1701.0,,600 CHEMIN DU VALBOSQUET,,6600.0,ANTIBES,1651.0,6.0,1651.0,600.0,CHEMIN DU VALBOSQUET,,6600.0,ANTIBES,NaN,NaN,830515.0,1.000000,2.0,7.092388,43.604534,1.000000,6.0,830515.0,06004_3498_00600,600.0,,CHEMIN DU VALBOSQUET,6600.0,6004.0,ANTIBES,NaN,7.092388,43.604534,,,6.0,false,649926_43.604534_7.092388,1.0,1.0,1.0,1.000000,2059.816516,162399.567258,0.615765,60040104,A,2059.816516,1.000000,0.615765,0.615765,144.122738
73476,60040105,60040105,0,A,121.733350,125.041620,158.855360,180.071910,239.746570,751.015870,680.204960,814.698800,556.28156,1.0,3898.006226,60040105,650468.0,F,810003300406,NICASTRO,MAGALI,true,1.0,19957409.0,45.0,NaN,3.0,3.0,true,true,GS_+MEG,650468.0,2566.0,NaN,35.0,35.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19957409.0,2205.0,2566.0,NICASTRO MAGALI,NICASTRO_MAGALI_06600_78_CHEMIN_DU_PUY,493333255.0,2116.0,2116.0,LE VAUBAN BAT K,78 CHEMIN DU PUY,ENTREE 110,6600.0,ANTIBES,93020.0,6.0,93020.0,78.0,CHEMIN DU PUY,LE VAUBANK,6600.0,ANTIBES,NaN,NaN,829787.0,1.000000,2.0,7.117538,43.588104,1.000000,6.0,829787.0,06004_2840_00078,78.0,,CHEMIN DU PUY,6600.0,6004.0,ANTIBES,NaN,7.117538,43.588104,,,6.0,false,650468_43.588104_7.117538,1.0,1.0,1.0,2.000000,3898.006226,134577.209269,1.486136,60040105,A,3898.006226,2.000000,1.486136,1.486136,118.287115
73130,60040106,60040106,0,A,85.542570,70.825040,88.412636,137.204270,96.797050,420.406620,533.387400,576.493800,470.34253,1.0,2729.254386,60040106,650656.0,F,810100618221,BUFALA DELAVAL,MAUD,true,1.0,18702275.0,45.0,NaN,3.0,1.0,false,true,GS_,650656.0,2847.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18702275.0,2205.0,2847.0,BUFALA DELAVAL MAUD,BUFALA_DELAVAL_MAUD_06600_828_CHEMIN_DES_4_CHE...,493659165.0,2354.0,2354.0,,828 CHEMIN DES 4 CHEMINS,,6600.0,ANTIBES,2291.0,6.0,2291.0,828.0,CHEMIN DES 4 CHEMINS,,6600.0,ANTIBES,NaN,NaN,829865.0,0.939655,2.0,7.113406,43.603149,0.939655,6.0,829865.0,06004_2850_00828,828.0,,CHEMIN DES QUATRE CHEMINS,6600.0,6004.0,ANTIBES,NaN,7.113406,43.603149,,,6.0,false,650656_43.60315_7.113406,1.0,1.0,1.0,8.833333,2729.254386,129826.249475,6.803966,60040106,A,2729.254386,8.833333,6.803966,6.803966,118.390678
72782,60040107,60040107,0,A,144.588610,82.239660,149.386700,173.899250,189.906750,781.107850,579.516900,600.839700,303.53833,1.0,3125.706245,60040107,764940.0,H,810003285425,CASANOVA,XAVIER,true,7.0,18259437.0,45.0,NaN,3.0,1.0,false,true,G__,764940.0,133250.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18259437.0,2205.0,133250.0,CASANOVA XAVIER,CASANOVA_XAVIER_06600_CHEMIN_FRERES_GARBERO,493740001.0,91518.0,91518.0,VILLA PAULETTE,CHEMIN FRERES GARBERO,,6600.0,ANTIBES,88488.0,6.0,88488.0,NaN,CHEMIN FRERES GARBERO,VILLA PAULETTE,6600.0,ANTIBES,NaN,NaN,828757.0,0.948684,2.0,7.122071,43.600204,0.948684,6.0,828757.0,06004_1245_00001,1.0,,CHEMIN DES FRERES GARBERO,6600.0,6004.0,ANTIBES,NaN,7.122071,43.600204,,,6.0,false,764940_43.600204_7.122071,1.0,1.0,1.0,4.500000,3125.706245,138391.414923,3.251647,60040107,A,3125.706245,4.500000,3.251647,3.251647,123.823180

In [23]:
apl_final["APL"].describe() #mean=98 median=108

count    500.000000
mean      98.645514
std       52.765007
min        0.000000
25%       63.247504
50%      108.402890
75%      143.192882
max      236.338363
Name: APL, dtype: float64

In [24]:
apl_final = apl_final[["IRIS1", "TYP_IRIS", "NB", "APL"]]
apl_final.head(10)

          IRIS1 TYP_IRIS        NB         APL
385    60010000        C  0.000000    0.000000
157    60020000        C  0.000000    0.000000
242    60030000        C  0.000000   18.184595
74748  60040101        C  0.000000  152.785439
74398  60040102        A  2.000000  122.333031
74130  60040103        A  0.000000   72.226826
83097  60040104        A  1.000000  144.122738
73476  60040105        A  2.000000  118.287115
73130  60040106        A  8.833333  118.390678
72782  60040107        A  4.500000  123.823180

In [29]:
sql = f"""
select i.id "IRIS1", i.nom "LIB_IRIS", c.code "DEPCOM", c.nom "LIBCOM" from iris.iris i
join iris.commune c on c.id=i.commune_id
where i.code like '{dept:02d}%'"""
print(sql)
nom_iris = pd.read_sql(text(sql), config.connection_string)
# nom_iris = pd.read_stata("Etude 06/NomIRIS.dta")
nom_iris

select i.id "IRIS1", i.nom "LIB_IRIS", c.code "DEPCOM", c.nom "LIBCOM" from iris.iris i
join iris.commune c on c.id=i.commune_id
where i.code like '06%'

        IRIS1               LIB_IRIS DEPCOM              LIBCOM
0    60120105                 Centre  06012          Beausoleil
1    60500000           Coursegoules  06050        Coursegoules
2    60720000                 Ilonse  06072              Ilonse
3    61050101                   Nord  06105  Roquefort-les-Pins
4    60150000        Berre-les-Alpes  06015     Berre-les-Alpes
..        ...                    ...    ...                 ...
495  60883403   Madeleine Supérieure  06088                Nice
496  60883501          Crémat-Bellet  06088                Nice
497  60883601  Saint-Pierre de Féric  06088                Nice
498  60883602               Costière  06088                Nice
499  60883801                Gairaut  06088                Nice

[500 rows x 4 columns]

In [30]:
apl_final = apl_final.merge(nom_iris, on="IRIS1", how="left", suffixes=("", "_dest"))
apl_final = apl_final[["IRIS1", "TYP_IRIS", "NB", "APL", "LIB_IRIS", "DEPCOM", "LIBCOM"]]
apl_final

,IRIS1,TYP_IRIS,NB,APL,LIB_IRIS,DEPCOM,LIBCOM
0,60010000,C,0.0,0.000000,Aiglun (commune non irisée),06001,Aiglun
1,60020000,C,0.0,0.000000,Amirat (commune non irisée),06002,Amirat
2,60030000,C,0.0,18.184595,Andon (commune non irisée),06003,Andon
3,60040101,C,0.0,152.785439,Les Trois Moulins,06004,Antibes
4,60040102,A,2.0,122.333031,Les Semboules,06004,Antibes
...,...,...,...,...,...,...,...
495,61610105,A,6.0,159.518952,Marina,06161,Villeneuve-Loubet
496,61610106,A,0.0,116.063035,Vaugrenier,06161,Villeneuve-Loubet
497,61610107,A,0.0,127.609295,Plan,06161,Villeneuve-Loubet
498,61620000,C,0.0,28.039541,La Brigue (commune non irisée),06162,La Brigue
499,61630000,C,1.5,61.066212,Tende (commune non irisée),06163,Tende

In [26]:
apl_final.to_csv("APL06_2022_Final.csv")

In [ ]:
# TODO trouver les ratio DAMIR
# TODO remplacer ps per personne_activite
# TDOO Ajouter datesource_id à pa