In [1]:
import pandas as pd
import numpy as np
import config
import datetime
from sqlalchemy import text
print(config.version)
print(config.connection_string)
pd.set_option('display.max_columns', None)

3.2.0.Dev
postgresql://postgres:sa@localhost/icip

In [2]:
specialite=10
year=21
dico={}

In [3]:
def get_ps(year, specialite):
    sql=f"""
select sp.specialite_id, s.label_long as label, ds.annee as year, ps.id as p_id, an.lon, an.lat from ps
join tarif t on t.ps_id = ps.id
join tarif_date_source tds on tds.tarif_id=t.id
join date_source ds on ds.id=tds.date_source_id
join cabinet c on t.cabinet_id=c.id
join adresse_raw ar on c.adresse_raw_id=ar.id
join adresse_norm an on ar.adresse_norm_id=an.id
join specialite_profession sp on sp.profession_id=t.profession_id
join specialite s on s.id=sp.specialite_id
where sp.specialite_id={specialite}
and ds.annee={year}
"""
    print(f"Quering PS for year {year} and specialite {specialite}")
    return pd.read_sql(sql, config.connection_string)

In [4]:
def get_pa(year, specialite):
    sql=f"""
select sp.specialite_id, ds.annee as year, pa.id as p_id, an.lon, an.lat from personne_activite pa
join personne_activite_diplome pad on pad.personne_activite_id=pa.id
join diplome d on pad.diplome_id=d.id
join profession_diplome pd on pd.diplome_id=d.id
join profession p on pd.profession_id=p.id
join specialite_profession sp on sp.profession_id=p.id
join pa_adresse_norm_date_source pands on pands.personne_activite_id=pa.id
join adresse_norm an on pands.adresse_norm_id=an.id
join date_source ds on ds.id=pands.date_source_id
where sp.specialite_id={specialite}
and pa.code_mode_exercice='L'
and ds.annee={year}
"""
    print(f"Quering PA for year {year} and specialite {specialite}")
    return pd.read_sql(sql, config.connection_string)

In [5]:
def get_pa_ps(year, specialite):
    sql=f"""
select sp.specialite_id, ds.annee as year, pa.id as p_id, coalesce(an.lon,an2.lon) as lon, coalesce(an.lat,an2.lat) as lat from personne_activite pa
join personne_activite_diplome pad on pad.personne_activite_id=pa.id
join diplome d on pad.diplome_id=d.id
join profession_diplome pd on pd.diplome_id=d.id
join profession p on pd.profession_id=p.id
join specialite_profession sp on sp.profession_id=p.id
join pa_adresse_norm_date_source pands on pands.personne_activite_id=pa.id
join adresse_norm an on pands.adresse_norm_id=an.id
join date_source ds on ds.id=pands.date_source_id
left outer join ps on ps.key=pa.inpp
join tarif t on t.ps_id=ps.id
join tarif_date_source tds on tds.tarif_id=t.id and tds.date_source_id=ds.id
join cabinet c on t.cabinet_id=c.id
join adresse_raw ar on c.adresse_raw_id=ar.id
join adresse_norm an2 on ar.adresse_norm_id=an2.id
where sp.specialite_id={specialite}
and pa.code_mode_exercice='L'
and ds.annee={year}
"""
    print(f"Quering PA-PS for year {year} and specialite {specialite}")
    return pd.read_sql(sql, config.connection_string)

In [6]:
def get_rpps(year, specialite):
    sql=f"""
select personne.id p_id,an.lon,an.lat from personne
join diplome_obtenu dio on dio.personne_id = personne.id
join diplome d on d.id=dio.diplome_id
join profession_diplome pd on pd.diplome_id=d.id
join profession p on pd.profession_id=p.id
join specialite_profession sp on sp.profession_id=p.id
join coord c on c.personne_id=personne.id
join adresse_norm an on c.adresse_norm_id=an.id
where sp.specialite_id={specialite}
and personne.date_maj >= '20{year}-01-01' and date_effet <= '20{year}-12-31'
"""
    print(f"Quering RPPS for year {year} and specialite {specialite}")
    return pd.read_sql(sql, config.connection_string)

In [7]:
df2=get_ps(year,specialite)
df2

Quering PS for year 21 and specialite 10

         specialite_id        label  year   p_id       lon        lat
0                   10  Généraliste    21  36253 -0.237617  44.943571
1                   10  Généraliste    21  36253 -0.237617  44.943571
2                   10  Généraliste    21  36253 -0.237617  44.943571
3                   10  Généraliste    21  36253 -0.237617  44.943571
4                   10  Généraliste    21  36253 -0.237617  44.943571
...                ...          ...   ...    ...       ...        ...
2849256             10  Généraliste    21  36097 -0.628736  44.856396
2849257             10  Généraliste    21  36097 -0.628736  44.856396
2849258             10  Généraliste    21  36097 -0.628736  44.856396
2849259             10  Généraliste    21  36097 -0.628736  44.856396
2849260             10  Généraliste    21  36097 -0.628736  44.856396

[2849261 rows x 6 columns]

In [8]:
nb_unique = len(df2.groupby(["p_id", "lon", "lat"]))
nb_unique

58241

In [9]:
nb = df2["p_id"].nunique()
nb

54851

In [10]:
ameli={10:51488}
ameli

{10: 51488}

In [24]:
df = pd.DataFrame(columns=["specialite","label","year","ameli","nb_ps_cabinet","nb_ps","nb_pa_cabinet","nb_pa","nb_pa_ps_cabinet","nb_pa_ps","nb_rpps_cabinet","np_rpps"])
for specialite in range(1,11):
    for yy in range(20,datetime.date.today().year+1-2000):
        ps_df=get_ps(yy,specialite)
        label=ps_df["label"][0] if len(ps_df["label"])>0 else ""
        nb_unique_ps=len(ps_df.groupby(["p_id", "lon", "lat"]))
        nb_ps=ps_df["p_id"].nunique()
        pa_df=get_pa(yy,specialite)
        nb_unique_pa=len(pa_df.groupby(["p_id", "lon", "lat"]))
        nb_pa=pa_df["p_id"].nunique()
        pa_ps_df=get_pa_ps(yy,specialite)
        pa_ps_df=pa_ps_df.dropna()
        nb_unique_pa_ps=len(pa_ps_df.groupby(["p_id", "lon", "lat"]))
        nb_pa_ps=pa_ps_df["p_id"].nunique()
        rpps_df=get_rpps(yy,specialite)
        rpps_df=rpps_df.dropna()
        nb_unique_rpps=len(rpps_df.groupby(["p_id", "lon", "lat"]))
        nb_rpps=rpps_df["p_id"].nunique()
        a=np.nan
        if yy==23 and specialite in ameli:
            a=ameli[specialite]
        df = pd.concat([pd.DataFrame([[specialite,label,yy,a,nb_unique_ps,nb_ps,nb_unique_pa,nb_pa,nb_unique_pa_ps,nb_pa_ps,nb_unique_rpps,nb_rpps]], columns=df.columns), df], ignore_index=True)
df=df.sort_values(by=['specialite',"year"])
df

Quering PS for year 20 and specialite 1
Quering PA for year 20 and specialite 1
Quering PA-PS for year 20 and specialite 1
Quering RPPS for year 20 and specialite 1
Quering PS for year 21 and specialite 1
Quering PA for year 21 and specialite 1
Quering PA-PS for year 21 and specialite 1
Quering RPPS for year 21 and specialite 1
Quering PS for year 22 and specialite 1
Quering PA for year 22 and specialite 1
Quering PA-PS for year 22 and specialite 1
Quering RPPS for year 22 and specialite 1
Quering PS for year 23 and specialite 1
Quering PA for year 23 and specialite 1
Quering PA-PS for year 23 and specialite 1
Quering RPPS for year 23 and specialite 1
Quering PS for year 24 and specialite 1
Quering PA for year 24 and specialite 1
Quering PA-PS for year 24 and specialite 1
Quering RPPS for year 24 and specialite 1
Quering PS for year 25 and specialite 1
Quering PA for year 25 and specialite 1
Quering PA-PS for year 25 and specialite 1
Quering RPPS for year 25 and specialite 1
Quering PS for year 20 and specialite 2
Quering PA for year 20 and specialite 2
Quering PA-PS for year 20 and specialite 2
Quering RPPS for year 20 and specialite 2
Quering PS for year 21 and specialite 2
Quering PA for year 21 and specialite 2
Quering PA-PS for year 21 and specialite 2
Quering RPPS for year 21 and specialite 2
Quering PS for year 22 and specialite 2
Quering PA for year 22 and specialite 2
Quering PA-PS for year 22 and specialite 2
Quering RPPS for year 22 and specialite 2
Quering PS for year 23 and specialite 2
Quering PA for year 23 and specialite 2
Quering PA-PS for year 23 and specialite 2
Quering RPPS for year 23 and specialite 2
Quering PS for year 24 and specialite 2
Quering PA for year 24 and specialite 2
Quering PA-PS for year 24 and specialite 2
Quering RPPS for year 24 and specialite 2
Quering PS for year 25 and specialite 2
Quering PA for year 25 and specialite 2
Quering PA-PS for year 25 and specialite 2
Quering RPPS for year 25 and specialite 2
Quering PS for year 20 and specialite 3
Quering PA for year 20 and specialite 3
Quering PA-PS for year 20 and specialite 3
Quering RPPS for year 20 and specialite 3
Quering PS for year 21 and specialite 3
Quering PA for year 21 and specialite 3
Quering PA-PS for year 21 and specialite 3
Quering RPPS for year 21 and specialite 3
Quering PS for year 22 and specialite 3
Quering PA for year 22 and specialite 3
Quering PA-PS for year 22 and specialite 3
Quering RPPS for year 22 and specialite 3
Quering PS for year 23 and specialite 3
Quering PA for year 23 and specialite 3
Quering PA-PS for year 23 and specialite 3
Quering RPPS for year 23 and specialite 3
Quering PS for year 24 and specialite 3
Quering PA for year 24 and specialite 3
Quering PA-PS for year 24 and specialite 3
Quering RPPS for year 24 and specialite 3
Quering PS for year 25 and specialite 3
Quering PA for year 25 and specialite 3
Quering PA-PS for year 25 and specialite 3
Quering RPPS for year 25 and specialite 3
Quering PS for year 20 and specialite 4
Quering PA for year 20 and specialite 4
Quering PA-PS for year 20 and specialite 4
Quering RPPS for year 20 and specialite 4
Quering PS for year 21 and specialite 4
Quering PA for year 21 and specialite 4
Quering PA-PS for year 21 and specialite 4
Quering RPPS for year 21 and specialite 4
Quering PS for year 22 and specialite 4
Quering PA for year 22 and specialite 4
Quering PA-PS for year 22 and specialite 4
Quering RPPS for year 22 and specialite 4
Quering PS for year 23 and specialite 4
Quering PA for year 23 and specialite 4
Quering PA-PS for year 23 and specialite 4
Quering RPPS for year 23 and specialite 4
Quering PS for year 24 and specialite 4
Quering PA for year 24 and specialite 4
Quering PA-PS for year 24 and specialite 4
Quering RPPS for year 24 and specialite 4
Quering PS for year 25 and specialite 4
Quering PA for year 25 and specialite 4
Quering PA-PS for year 25 and specialite 4
Quering RPPS for year 25 and specialite 4
Quering PS for year 20 and specialite 5
Quering PA for year 20 and specialite 5
Quering PA-PS for year 20 and specialite 5
Quering RPPS for year 20 and specialite 5
Quering PS for year 21 and specialite 5
Quering PA for year 21 and specialite 5
Quering PA-PS for year 21 and specialite 5
Quering RPPS for year 21 and specialite 5
Quering PS for year 22 and specialite 5
Quering PA for year 22 and specialite 5
Quering PA-PS for year 22 and specialite 5
Quering RPPS for year 22 and specialite 5
Quering PS for year 23 and specialite 5
Quering PA for year 23 and specialite 5
Quering PA-PS for year 23 and specialite 5
Quering RPPS for year 23 and specialite 5
Quering PS for year 24 and specialite 5
Quering PA for year 24 and specialite 5
Quering PA-PS for year 24 and specialite 5
Quering RPPS for year 24 and specialite 5
Quering PS for year 25 and specialite 5
Quering PA for year 25 and specialite 5
Quering PA-PS for year 25 and specialite 5
Quering RPPS for year 25 and specialite 5
Quering PS for year 20 and specialite 6
Quering PA for year 20 and specialite 6
Quering PA-PS for year 20 and specialite 6
Quering RPPS for year 20 and specialite 6
Quering PS for year 21 and specialite 6
Quering PA for year 21 and specialite 6
Quering PA-PS for year 21 and specialite 6
Quering RPPS for year 21 and specialite 6
Quering PS for year 22 and specialite 6
Quering PA for year 22 and specialite 6
Quering PA-PS for year 22 and specialite 6
Quering RPPS for year 22 and specialite 6
Quering PS for year 23 and specialite 6
Quering PA for year 23 and specialite 6
Quering PA-PS for year 23 and specialite 6
Quering RPPS for year 23 and specialite 6
Quering PS for year 24 and specialite 6
Quering PA for year 24 and specialite 6
Quering PA-PS for year 24 and specialite 6
Quering RPPS for year 24 and specialite 6
Quering PS for year 25 and specialite 6
Quering PA for year 25 and specialite 6
Quering PA-PS for year 25 and specialite 6
Quering RPPS for year 25 and specialite 6
Quering PS for year 20 and specialite 7
Quering PA for year 20 and specialite 7
Quering PA-PS for year 20 and specialite 7
Quering RPPS for year 20 and specialite 7
Quering PS for year 21 and specialite 7
Quering PA for year 21 and specialite 7
Quering PA-PS for year 21 and specialite 7
Quering RPPS for year 21 and specialite 7
Quering PS for year 22 and specialite 7
Quering PA for year 22 and specialite 7
Quering PA-PS for year 22 and specialite 7
Quering RPPS for year 22 and specialite 7
Quering PS for year 23 and specialite 7
Quering PA for year 23 and specialite 7
Quering PA-PS for year 23 and specialite 7
Quering RPPS for year 23 and specialite 7
Quering PS for year 24 and specialite 7
Quering PA for year 24 and specialite 7
Quering PA-PS for year 24 and specialite 7
Quering RPPS for year 24 and specialite 7
Quering PS for year 25 and specialite 7
Quering PA for year 25 and specialite 7
Quering PA-PS for year 25 and specialite 7
Quering RPPS for year 25 and specialite 7
Quering PS for year 20 and specialite 8
Quering PA for year 20 and specialite 8
Quering PA-PS for year 20 and specialite 8
Quering RPPS for year 20 and specialite 8
Quering PS for year 21 and specialite 8
Quering PA for year 21 and specialite 8
Quering PA-PS for year 21 and specialite 8
Quering RPPS for year 21 and specialite 8
Quering PS for year 22 and specialite 8
Quering PA for year 22 and specialite 8
Quering PA-PS for year 22 and specialite 8
Quering RPPS for year 22 and specialite 8
Quering PS for year 23 and specialite 8
Quering PA for year 23 and specialite 8
Quering PA-PS for year 23 and specialite 8
Quering RPPS for year 23 and specialite 8
Quering PS for year 24 and specialite 8
Quering PA for year 24 and specialite 8
Quering PA-PS for year 24 and specialite 8
Quering RPPS for year 24 and specialite 8
Quering PS for year 25 and specialite 8
Quering PA for year 25 and specialite 8
Quering PA-PS for year 25 and specialite 8
Quering RPPS for year 25 and specialite 8
Quering PS for year 20 and specialite 9
Quering PA for year 20 and specialite 9
Quering PA-PS for year 20 and specialite 9
Quering RPPS for year 20 and specialite 9
Quering PS for year 21 and specialite 9
Quering PA for year 21 and specialite 9
Quering PA-PS for year 21 and specialite 9
Quering RPPS for year 21 and specialite 9
Quering PS for year 22 and specialite 9
Quering PA for year 22 and specialite 9
Quering PA-PS for year 22 and specialite 9
Quering RPPS for year 22 and specialite 9
Quering PS for year 23 and specialite 9
Quering PA for year 23 and specialite 9
Quering PA-PS for year 23 and specialite 9
Quering RPPS for year 23 and specialite 9
Quering PS for year 24 and specialite 9
Quering PA for year 24 and specialite 9
Quering PA-PS for year 24 and specialite 9
Quering RPPS for year 24 and specialite 9
Quering PS for year 25 and specialite 9
Quering PA for year 25 and specialite 9
Quering PA-PS for year 25 and specialite 9
Quering RPPS for year 25 and specialite 9
Quering PS for year 20 and specialite 10
Quering PA for year 20 and specialite 10
Quering PA-PS for year 20 and specialite 10
Quering RPPS for year 20 and specialite 10
Quering PS for year 21 and specialite 10
Quering PA for year 21 and specialite 10
Quering PA-PS for year 21 and specialite 10
Quering RPPS for year 21 and specialite 10
Quering PS for year 22 and specialite 10
Quering PA for year 22 and specialite 10
Quering PA-PS for year 22 and specialite 10
Quering RPPS for year 22 and specialite 10
Quering PS for year 23 and specialite 10
Quering PA for year 23 and specialite 10
Quering PA-PS for year 23 and specialite 10
Quering RPPS for year 23 and specialite 10
Quering PS for year 24 and specialite 10
Quering PA for year 24 and specialite 10
Quering PA-PS for year 24 and specialite 10
Quering RPPS for year 24 and specialite 10
Quering PS for year 25 and specialite 10
Quering PA for year 25 and specialite 10
Quering PA-PS for year 25 and specialite 10
Quering RPPS for year 25 and specialite 10

,specialite,label,year,ameli,nb_ps_cabinet,nb_ps,nb_pa_cabinet,nb_pa,nb_pa_ps_cabinet,nb_pa_ps,nb_rpps_cabinet,np_rpps
59,1,Psychiatre,20,NaN,5915,5646,0,0,0,0,6779,6779
58,1,Psychiatre,21,NaN,6319,5829,6586,5232,5114,4226,6854,6854
57,1,Psychiatre,22,NaN,5287,5062,6480,5159,0,0,6900,6900
56,1,,23,NaN,0,0,0,0,0,0,6935,6935
55,1,,24,NaN,0,0,0,0,0,0,6966,6966
54,1,,25,NaN,0,0,6541,4928,0,0,84,84
53,2,Anesthésiste,20,NaN,3952,3434,0,0,0,0,1205,1205
52,2,Anesthésiste,21,NaN,4194,3599,5191,3641,4518,3032,1206,1206
51,2,Anesthésiste,22,NaN,3788,3310,5306,3768,0,0,1205,1205
50,2,,23,NaN,0,0,0,0,0,0,1207,1207
49,2,,24,NaN,0,0,0,0,0,0,1209,1209
48,2,,25,NaN,0,0,5666,3991,0,0,16,16
47,3,Dermatologue,20,NaN,2637,2553,0,0,0,0,2291,2291
46,3,Dermatologue,21,NaN,2759,2633,2927,2299,2408,1983,2309,2309
45,3,Dermatologue,22,NaN,2497,2432,2871,2240,0,0,2319,2319
44,3,,23,NaN,0,0,0,0,0,0,2332,2332
43,3,,24,NaN,0,0,0,0,0,0,2343,2343
42,3,,25,NaN,0,0,2662,2039,0,0,37,37
41,4,Gastro-entérologue,20,NaN,2390,1982,0,0,0,0,1570,1570
40,4,Gastro-entérologue,21,NaN,2548,2054,3158,1701,2798,1561,1581,1581
39,4,Gastro-entérologue,22,NaN,2300,1912,3111,1654,0,0,1587,1587
38,4,,23,NaN,0,0,0,0,0,0,1592,1592
37,4,,24,NaN,0,0,0,0,0,0,1597,1597
36,4,,25,NaN,0,0,2986,1537,0,0,8,8
35,5,Gynécologue,20,NaN,4825,4385,0,0,0,0,3570,3570
34,5,Gynécologue,21,NaN,5121,4526,5579,3784,4714,3282,3617,3617
33,5,Gynécologue,22,NaN,4576,4148,5475,3719,0,0,3647,3647
32,5,,23,NaN,0,0,0,0,0,0,3659,3659
31,5,,24,NaN,0,0,0,0,0,0,3675,3675
30,5,,25,NaN,0,0,5232,3485,0,0,54,54
29,6,Opthtalmogue,20,NaN,5375,4297,0,0,0,0,3233,3233
28,6,Opthtalmogue,21,NaN,5664,4405,7261,3910,6202,3424,3289,3289
27,6,Opthtalmogue,22,NaN,5039,4049,7287,3776,0,0,3331,3331
26,6,,23,NaN,0,0,0,0,0,0,3376,3376
25,6,,24,NaN,0,0,0,0,0,0,3412,3412
24,6,,25,NaN,0,0,7570,3694,0,0,49,49
23,7,Pédiatre,20,NaN,2637,2512,0,0,0,0,3481,3481
22,7,Pédiatre,21,NaN,2822,2614,2945,2292,2395,1975,3524,3524
21,7,Pédiatre,22,NaN,2554,2445,2934,2296,0,0,3539,3539
20,7,,23,NaN,0,0,0,0,0,0,3562,3562
19,7,,24,NaN,0,0,0,0,0,0,3581,3581
18,7,,25,NaN,0,0,2883,2249,0,0,23,23
17,8,Radiologue,20,NaN,14641,5265,0,0,0,0,4449,4449
16,8,Radiologue,21,NaN,13552,5075,19575,5113,17927,3969,4501,4501
15,8,Radiologue,22,NaN,12043,4601,20058,5150,0,0,4516,4516
14,8,,23,NaN,0,0,0,0,0,0,4542,4542
13,8,,24,NaN,0,0,0,0,0,0,4561,4561
12,8,,25,NaN,0,0,22505,5063,0,0,80,80
11,9,Dentiste,20,NaN,35098,34099,0,0,0,0,47,47
10,9,Dentiste,21,NaN,34668,33112,2444,2135,1196,1060,48,48
9,9,Dentiste,22,NaN,30460,29948,2399,2084,0,0,49,49
8,9,,23,NaN,0,0,0,0,0,0,51,51
7,9,,24,NaN,0,0,0,0,0,0,52,52
6,9,,25,NaN,0,0,2565,2005,0,0,0,0
5,10,Généraliste,20,NaN,54547,52764,0,0,0,0,13083,13083
4,10,Généraliste,21,NaN,58241,54851,61146,53884,51498,46621,13667,13667
3,10,Généraliste,22,NaN,51870,50515,61672,54096,0,0,13982,13982
2,10,,23,51488,0,0,0,0,0,0,14129,14129
1,10,,24,NaN,0,0,0,0,0,0,14209,14209
0,10,,25,NaN,0,0,67210,55693,0,0,115,115

In [26]:
df.to_excel("ps_stats.xlsx", index=False)